version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: game_store
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
      # - ./backups:/backups  ← УБРАТЬ, если не нужен бэкап
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d game_store"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./api
    container_name: gameio-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=1
      - DB_NAME=game_store
      - JWT_SECRET=your_jwt_secret_key_1234567890
      - ENCRYPTION_KEY=your_32_char_encryption_key_here1234
    depends_on:
      db:
        condition: service_healthy

  client:
    build: ./client
    container_name: gameio-client
    restart: always
    ports:
      - "3001:80"
    depends_on:
      - api

volumes:
  pgdata: